/* Estilo para asegurarnos de que el video ocupe toda la pantalla */
#videoBackground {
    position: fixed; /* Fija el video en el fondo */
    top: 0;
    left: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    object-fit: cover; /* Cubre toda la pantalla sin distorsionar el video */
    z-index: -1; /* Asegura que el video esté detrás de todo el contenido */
    overflow: hidden;
}

body {
    display: flex;
    padding: 0;
    flex-direction: column; /* Para apilar el contenido de arriba hacia abajo */
    justify-content: center;
    align-items: center; /* Centra todo en el eje horizontal */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0; /* Elimina el margen predeterminado */
}
.titulo{
    display: flex;
    justify-content: center; /* Esto mantiene el contenido centrado horizontalmente */
    align-items: flex-start; /* Esto mueve el contenido hacia la parte superior */
    height: 15vh;
    margin: 0; /* Para eliminar cualquier margen por defecto */
    overflow: visible;
}
h1 span {
    position: relative;
    top: 20px;
    font-family: "Lato", sans-serif;
    color: rgb(255, 0, 0);
    font-size: 5rem;
    display: inline-block;
    text-shadow: 0 1px 0 #ff0000, 0 2px 0 #ff0000, 0 3px 0 #ff0000, 0 4px 0 #ff0000, 0 5px 0 #ff0000, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 0 rgb(255, 0, 0);
    animation: bounce 0.6s ease infinite alternate;
    z-index: 1;
}
h1 span:nth-child(1) {
    animation-delay: 0s;
}

h1 span:nth-child(2) {
    animation-delay: 0.1s;
}

h1 span:nth-child(3) {
    animation-delay: 0.2s;
}

h1 span:nth-child(4) {
    animation-delay: 0.3s;
}
h1 span:nth-child(5) {
    animation-delay: 0.4s;
}
h1 span:nth-child(6) {
    animation-delay: 0.5s;
}

h1 span:nth-child(7) {
    animation-delay: 0.6s;
}
h1 span:nth-child(8) {
    animation-delay: 0.7s;
}
h1 span:nth-child(9) {
    animation-delay: 0.8s;
}
@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #990101, 0 2px 0 #990101, 0 3px 0 #990101, 0 4px 0 #990101, 0 5px 0 #990101, 0 6px 0 #990101, 0 7px 0 #990101, 0 8px 0 #990101, 0 9px 0 #990101, 0 60px 30px rgba(255, 0, 0, 0.932);
    }
}

#startButton{
    
    background-color: #000000;
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    padding: 15px 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0), 0 0 15px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0);
    margin-top:37.8px;
}

#startButton:hover{
    background-color: rgb(255, 0, 0);
    color:#000000;
    box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0);
}
/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    h1 span {
        font-size: 3rem; /* Reducir tamaño de fuente en pantallas pequeñas */
    }

    #startButton {
        padding: 10px 20px;
        font-size: 16px; /* Reducir tamaño de fuente del botón */
        margin-top: 20px;
    }
    .titulo {
        height: 20vh; /* Ajustar la altura del título */
    }
}